.dark-mode {
    background-color: #000;
    color: #fff;
  }
  
  .dark-mode .nav-bag-user,
  .dark-mode .nav-bag {
    color: #fff; /* تغییر رنگ آیکون‌ها در حالت تاریک */
  }
  .dark-mode .subscribe_bg{
    background-color: gray;
  }
  .dark-mode .home-container,
  .dark-mode .title {
    color: #2b2b2b !important;
  }
  .dark-mode .product{
    background-color: gray;
  }
  /* body{
    background-color: #000 !important;
  } */